# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Django
db.sqlite3
*.log
media/
staticfiles/

# Python Build
build/
dist/
*.egg-info/

# --------------------
# React / Node
# --------------------
node_modules/
dist/
build/

# --------------------
# IDEs
# --------------------
.vscode/
.idea/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db